HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### === java / Maven === ###
target/
*/target/
*.class
*.jar
*.war
*.ear
*.log

### ===== Maven Wrapper =====
.mvn/wrapper/maven-wrapper.jar


### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### ===== IntelliJ IDEA =====
.idea/
*.iml
*.iws
*.ipr
out/

### ===== Docker =====
**/docker-data/
**/volume/
**/data/

### ===== Database / Tools =====
mongodb-database-tools*
*.dump
*.bson
*.ndjson


### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/


### ===== Temporary / Backup =====
*.tmp
*.bak
*.swp
*.old

### ===== Env / Secret =====
.env
.env.*
application-*.yml
application-*.properties

### ===== OS =====
.DS_Store
Thumbs.db

