server:
  port: 8062
  servlet:
    context-path: /product-service
spring:
  application:
    name: product-service
  autoconfigure:
    exclude:
      - org.springframework.boot.autoconfigure.jdbc.DataSourceAutoConfiguration
      - org.springframework.boot.autoconfigure.orm.jpa.HibernateJpaAutoConfiguration
      - org.springframework.boot.autoconfigure.jdbc.DataSourceTransactionManagerAutoConfiguration
  data:
    mongodb:
      database: product_db
      username: root
      password: root
      host: localhost
      port: 27017
      authentication-database: admin
      auto-index-creation: true
  kafka:
    bootstrap-servers: localhost:9094
    producer:
      acks: all
      retries: 3
      key-serializer: org.apache.kafka.common.serialization.StringSerializer
      value-serializer: org.springframework.kafka.support.serializer.JsonSerializer
      properties:
        enable.idempotence: true
        max.in.fight.request.per.connection: 5
        retry.backoff.ms: 1000
    consumer:
      auto-offer-reset: latest
      key-deserializer: org.apache.kafka.common.serialization.StringDeserializer
      value-deserializer: org.apache.kafka.common.serialization.StringDeserializer
      properties:
        spring.json.trusted.packages: "*"
        max.poll.interval.ms: 300000
        session.timeout.ms: 10000
springdoc:
  swagger-ui:
    path: /swagger-ui.html
  api-docs:
    path: /v3/api-docs

open:
  api:
    version: v1.0.0
    serverUrl: http://localhost:8888/api/v1/product-service
    serverName: Product Service

eureka:
  client:
    register-with-eureka: true
    fetch-registry: true
    service-url:
      defaultZone: http://localhost:8761/eureka/
  instance:
    prefer-ip-address: true
    lease-renewal-interval-in-seconds: 30
    lease-expiration-duration-in-seconds: 90